/* CSS untuk navbar */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
padding: 0;
margin: 0;
}

body { 
    margin-left: 170px;
    margin-right: 150px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16 px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #49a0c6;
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: #c85250;
  
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #f85f5f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1{
    margin-top: 50px; 
    margin-bottom: -50px;
    font-size:32pt;
    color: white;
}

h2{
    margin-top: 40px;
    color: white;
}

h4{
    font-weight: 100;
    color: #e2e2e2;
}

p {
    color: red;
}

#body{
    font-family: 'DM Sans', sans-serif;
}

#body, h1{
    font-weight: 900;
}
#body, p{
    font-weight: 300;
}

#elemets{
    display: flex;
    align-items: center;
}

.element {
    display: flex;
    align-items: center; 
    margin-right: 20px; 
}

.element img{
    margin-right: 20px;
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

/* CSS untuk footer */
footer{
    margin-top: 70px;
    margin-bottom: 0px;
}

footer ul li {
    color: white;
    display: inline;
    margin: 0 20px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
